
  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
         <%- include('../layouts/about.ejs'); %> 
    </section><!-- End About Section -->

    <!-- ======= About Boxes Section ======= -->
    <section id="about-boxes" class="about-boxes">
         <%- include('../layouts/aboutbox.ejs'); %> 
    </section><!-- End About Boxes Section -->

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
        <%- include('../layouts/clientes.ejs'); %> 
    </section><!-- End Clients Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <%- include('../layouts/features.ejs'); %> 
    </section><!-- End Features Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <%- include('../layouts/services.ejs'); %> 
    </section><!-- End Services Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <%- include('../layouts/testimonials.ejs'); %> 
    </section><!-- End Testimonials Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <%- include('../layouts/portfolio.ejs'); %> 
    </section><!-- End Portfolio Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <%- include('../layouts/team.ejs'); %> 
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
        <%- include('../layouts/contact.ejs'); %> 
    </section><!-- End Contact Section -->

  </main><!-- End #main -->